<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del proyecto</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="container">
    <header class="header">
      <h1 class="title">Proyectos Molones</h1>
    </header>
    <main class="main">
      <img class="project-img" src="<%= project.image %>" alt="Imagen proyecto" />
      <div class="card">
        <h4><%= project.name %></h4>
        <p><%= project.slogan %></p>
        <p><%= project.description %></p>
        <p><%= project.technologies %></p>
        <a href="<%= project.repo %>" target="_blank">Repo</a>
        <a href="<%= project.demo %>" target="_blank">Demo</a>
        <img class="author-img" src="<%= project.photo %>" alt="Foto usuaria" />
        <p><%= project.job %></p>
        <p><%= project.autor %></p>
      </div>
    </main>
  </body>
</html>
