<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del proyecto</title>
  </head>
  <body>
    <header>Header</header>
    <main>
      <img src="<%= project.image %>" alt="Imagen proyecto" />
      <h4><%= project.name %></h4>
      <p><%= project.slogan %></p>
      <p><%= project.description %></p>
      <p><%= project.technologies %></p>
      <a href="<%= project.repo %>" target="_blank">Repo</a>
      <a href="<%= project.demo %>" target="_blank">Demo</a>
      <p><%= project.job %></p>
      <p><%= project.autor %></p>
      <img src="<%= project.photo %>" alt="Foto usuaria" />
    </main>
    <footer>Footer</footer>
  </body>
</html>
